.button-new-schedule {
    display: block;
    min-width: calc(214rem/16);
    min-height: 3rem;
    background-color: var(--content-brand);
    color: #050505;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    border: none;
    margin-inline: auto;
    margin-bottom: 2rem;

    &:hover {
        background-color: var(--bg-highlights);
    }
}

aside {
    position: relative;
}

.scheduler-button {
    display: block;
    min-width: 7rem;
    min-height: 3rem;
    background-color: var(--content-brand);
    color: #050505;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    border: none;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;

    &:hover {
        background-color: var(--bg-highlights);
    }
}

@media (width >=80em) {
    .button-new-schedule {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        margin-bottom: 0;
    }


    .scheduler-button {
        right: 1.5rem;
    }
}