.button-scheduler {
    display: block;
    min-width: calc(214rem/16);
    min-height: 3rem;
    background-color: var(--content-brand);
    color: #050505;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    border: none;
    margin-inline: auto;
    margin-bottom: 2rem;
}

@media (width >=80em) {
    .button-scheduler {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        margin-bottom: 0;
    }
}