main>header {
    display: grid;
    gap: calc(12rem/16);
    padding-top: calc(70rem/16);

    & div:has(>input) {
        display: block;
        position: relative;

        & input {
            opacity: 0;
            position: absolute;
            inset: 0;
        }

        background-image: url(/Icon.svg);
        object-fit: contain;
        width: calc(20rem/16);
        height: calc(20rem/16);
    }

    & img {
        display: block;
        width: calc(20rem/16);
        height: calc(20rem/16);
    }

    & div:nth-child(2) {
        height: 3rem;
        width: calc(180rem/16);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5rem;
        align-items: center;
        padding: calc(12rem/16);
        border: solid 1px var(--border-primary);
        border-radius: .5rem;

        & span {
            display: inline-block;
            width: 6.5rem;
            height: 1.5rem;
        }

        &:hover {
            border-color: var(--border-secondary);
        }

        &:has(:focus-within) {
            border-color: var(--border-brand);
        }
    }
}

@media (width >=80em) {
    & header {
        grid-template-columns: 70% 1fr;
        align-items: center;

        &>div:nth-child(2) {
            justify-self: end;
        }
    }
}